*/bin/*
*/obj/*

*.dll

*.mdb

*.exe

Xamarin.Canvas.Example/gtk-gui/generated.cs

*.log

Xamarin.Canvas.Mac/obj/Debug/monomac_dll_content_processed

Xamarin.Canvas.Mac/obj/Debug/monomac_version

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/Info.plist

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/MonoTouchDebugConfiguration.txt

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/MonoTouchSimulatorAssemblies.list

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/Settings.bundle/Root.plist

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/XamarinCanvasiOS

Xamarin.Canvas.iOS/obj/Debug/monotouch_version

Xamarin.Canvas.Mac/bin/Debug/Xamarin.Canvas.Mac.app/Contents/Info.plist

Xamarin.Canvas.Mac/bin/Debug/Xamarin.Canvas.Mac.app/Contents/MacOS/Xamarin.Canvas.Mac

Xamarin.Canvas.Mac/bin/Debug/Xamarin.Canvas.Mac.app/Contents/Resources/MainMenu.nib

Xamarin.Canvas.Mac/bin/Debug/Xamarin.Canvas.Mac.app/Contents/Resources/MainWindow.nib

Xamarin.Canvas.iOS/obj/Debug/monotouch_dll_content_processed

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover6.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover3.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover10.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover5.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover4.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover7.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover1.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover2.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover8.jpg

Xamarin.Canvas.iOS/bin/iPhoneSimulator/Debug/XamarinCanvasiOS.app/cover9.jpg

*.userprefs
